<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Slabo+13px' rel='stylesheet' type='text/css'>
		<link href="stylesheets/stylesheet2.css" rel="stylesheet" type="text/css">

		<meta charset="UTF-8">
		<meta name="description" content="Tiffany Poss Portfolio Website">
		<meta name="keywords" content="HTML,CSS, CSS3, Ruby, JavaScript, Node,
		Web Design, Design, Portfolio, Junior Developer, Tiffany Poss">
		<meta name="author" content="Tiffany Poss">

		<title>Tiffany Poss</title>
	</head>

	<body>

<!--Heading -->
	<% include partials/template/header.ejs %>

<!-- Content -->
	<div id = "self_info">
		<img src = "img/about/myphoto.jpg">
		<div>
			<h2>HELLO</h2>
			<p>I’m Tiffany. I’m a newly minted web developer and designer. I went to school at the Fashion Institute of Technology majoring with a B.F.A. International Fashion Design, studying two years in Italy. I enjoy cooking, travel, and crafting in my spare time. I’m really excited to start my journey as a web developer!</p>
		</div>
	</div>

	<div id = "question_container">
		<h3>Some Questions Answered</h3>
		<div>
			<h4>What motivates you to work hard?</h4>
			<p>There are a lot of things that motivate me to work hard.
			Firstly I work hard for my family, so to make them proud of
			me, but also to help provide for them. Working hard is important
			for me because I love being in industries that my efforts both
			at work and outside of work allow me to advance, and my advancement
			is based on my efforts, and not on my social position or luck.
			</p>
		</div>
		<div>
			<h4>What are your hobbies?</h4>
			<p>I have a rather eclectic list of hobbies that I do, which are
			forever shifting. My main focus tends to be with generally making things, I love building things with my hands and mind, and being able to think of something in my brain and translate it into the physical word is amazing.</p>
			<p>My main hobby is cooking and baking. I love seeking out seasonal ingredients and new recipes to build my knowledge base. Last year I starting canning vegetables during the plentiful months of the year, and not I started fermenting vegetables as well.</p>
			<p>Outside of cooking, I like knitting and crocheting on the train, watching Ted Talks and podcasts, and within the last year I've gotten really into personal finance and the stock market.</p>
		</div>
<!-- 
		<div>
			<h4>What three items would you take with you on a deserted island?</h4>
			<p>If I was on a deserted island, I would hope to have sunscreen, a knife, and a large source of carbohydrates. I would also consider swapping out one of my items for some heavy or waterproof fabric.
			</p>
		</div> -->
		<div>
			<h4>What is the best place you've ever traveled to?</h4>
			<p>For spring break in college when I was studying abroad in Italy, my roommate and I got a flight to Morocco for 10 euros. We spent nine days traveling around Morocco to different cities by bus and train. It was both exciting and frightening, and the experience was one of the best experiences of my life.
			</p>
		</div>
		<div>
			<h4>What do you want to learn next?</h4>
			<p>I am excited to start self study in web development. During school we had to follow a curriculum, but now the subjects are up to me! I'm interested in studying mobile app development and working on my skills Javascript frameworks like Backbone.js. 
			</p>
		</div>

		
	</div>
	<% include partials/template/footer.ejs %>


	</body>

</html>