<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Slabo+13px' rel='stylesheet' type='text/css'>
		<link href="stylesheets/stylesheet2.css" rel="stylesheet" type="text/css">

		<meta charset="UTF-8">
		<meta name="description" content="Tiffany Poss Portfolio Website">
		<meta name="keywords" content="HTML,CSS, CSS3, Ruby, JavaScript, Node,
		Web Design, Design, Portfolio, Junior Developer, Tiffany Poss">
		<meta name="author" content="Tiffany Poss">

		<title>Tiffany Poss</title>
	</head>

	<body>

	<% include partials/template/header.ejs %>

<!-- Content -->
		<!-- <p>Add content here</p> -->



	<% include partials/template/footer.ejs %>


	</body>

</html>