<!-- Find Me -->
		<div id="find_me">
			<div id="find_div">
				<div id="contact_div">
					<h2>Find Me</h2>
					<div class="contact">
						<img src="img/contact_img/find.png">
						<p>Tiffany Poss</p>
					</div>
					<div class="contact">
						<img src="img/contact_img/phone.png" >
						<p>1 (508) 648 - 1312</p>
					</div>
					<div class="contact">
						<img src="img/contact_img/mail.png">
						<p>tiffanyposs@gmail.com</p>
					</div>
				</div>

				
				<div id="social_media">
					<a href="https://github.com/tiffanyposs" target="blank"><img src="img/contact_img/github.png"></a>
					<a href="http://instagram.com/tiffanyposs/" target="blank"><img src="img/contact_img/instagram.png"></a>
					<a href="http://www.linkedin.com/in/tiffanyposs/" target="blank"><img src="img/contact_img/linkedin.png"></a>
					<a href="http://www.pinterest.com/tiffanyposs/" target="blank"><img src="img/contact_img/pintrest.png"></a>
					<a href="" target="blank"><img src="img/contact_img/twitter.png"></a>
				</div>
			</div>
				<div id="findme_color"></div>
		</div>


<!-- Footer -->
		<div id="footer">
			<ul>
				<a href="/"><li>HOME</li></a>
				<a href="/resume"><li>RESUME</li></a>
				<a href="/contact"><li>CONTACT</li></a>
				<a href="/faqs"><li>FAQS</li></a>
			</ul>
		</div>