<!--Heading -->
		<div id= "header">
			<a href="/"><img src="../img/heading_img/logo.png"></a>
			<ul>
				<a href="/projects"><li>PROJECTS</li></a>
				<a href="/resume"><li>RESUME</li></a>
				<a href="/contact"><li>CONTACT</li></a>
				<a href="/about"><li>ABOUT</li></a>
			</ul>
		</div>